.headerFont {
	-webkit-font-smoothing: antialiased;
	line-height: 40px;
	text-align: center;
	line-height: 40px;
	color: #333;
	font-size: 12px;
	font-family: "open sans", arial, sans-serif;
}

.container {
	border: 1px solid;
	padding: 0px !important;
}

.wraper {
	padding: 20px;
	
}

.footer {
	padding: 5px 15px;
	border: 0;
	background: #444;
}

.footerMenuItem {
	font-size: 11px;
	float: left;
	padding: 5px;
	color: white;
	
}

#custom-bootstrap-menu.navbar-inverse {
    font-size: 12px;
    background-color: rgba(96, 145, 186, 1);
    border-width: 0px;
    border-radius: 0px;
}