<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>formServiceImpl</servlet-name>
		<servlet-class>pl.baduuum.server.service.ContactFormServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>formServiceImpl</servlet-name>
		<url-pattern>/baduuum/formService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>reservationServiceImpl</servlet-name>
		<servlet-class>pl.baduuum.server.service.ReservationServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>reservationServiceImpl</servlet-name>
		<url-pattern>/baduuum/reservationService</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Baduuum.html</welcome-file>
	</welcome-file-list>

    <context-param>
        <param-name>applicationContextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

</web-app>
