<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Potwierdzenie wysłania rezerwacji</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
    Dziękujemy za wysłanie rezerwacji. Odpowiemy tak szybko jak to możliwe.
</p>
<p>
    Wysłana rezerwacja:
    Osoba kontaktowa: <span th:text="${reservation.getContactPersonName()}"></span> <br/>
    Zespół: <span th:text="${reservation.getBandName()}"></span> <br/>
    Dzień: <span th:text="${#dates.format(reservation.getDate(), 'yyyy-MM-dd')}"></span> <br/>
    Godzina rozpoczęcia: <span th:text="${#dates.format(reservation.getHourStart(), 'HH:mm')}"></span> <br/>
    Godzina zakończenia: <span th:text="${#dates.format(reservation.getHourEnd(), 'HH:mm')}"></span> <br/>
</p>

<p>
    Pozdrawiamy, <br />
    &emsp; <em>Sala Prób Baduuum</em>
</p>
</body>
</html>
